<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>

</head>
<body>
    <h1>Add a Trip</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li >{{ message }}</li>    
    {% endfor %}
    </ul>
{% endif %}

    <form action="/create" method="post">
        {% csrf_token %}
        <p>Destination: <input type="text" name="destination" id=""></p>
        <p>Description: <input type="text" name="plan" id=""></p>
        <p>Travel Date From: <input type="date" name="datefrom" id=""></p>
        <p>Travel Date To: <input type="date" name="dateto" id=""></p>
        <p><input type="submit" value="Add" id=""></p>
    </form>

    <a href="/success">Go Back</a>
    
</body>
</html>