<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
</head>

<body>

    <a href="/logout"> Logout</a>
    <a href="/success"> Home</a>
    <h1>{{placetoshow.destination}}</h1>
    <p>Planned By: {{placetoshow.uploader.name}}</p>
    <p>Description: {{placetoshow.plan}}</p>
    <p>Travel Date From: {{placetoshow.travelstart}}</p>
    <p>Travel Date To: {{placetoshow.travelend}}</p>
    <p>Destination: {{placetoshow.destination}}</p>
    




    <h1>{{placetoshow.others.name}}:</h1>
    <ul>
        {% for user in placetoshow.all %}
        <li>{{user.name}}</li>
        {% endfor %}
    </ul>
</body>
</html>